<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">A PROPOS</h5>
                    <h1 class="mb-0">Developer working on laptop</h1>
                </div>
                <p class="mb-4">Nous construisons une communauté Open Source d'apprenants et d'enseignants</p>
                <p class="mb-4">" Tout le monde enseigne, tout le monde apprend " . Tel est l'esprit qui est derrière la communauté. Une communauté qui se veut grandissante et qui donne la possibilité à tout le monde de partager ses connaissances et d'apprendre.</p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-users text-primary me-3"></i>600+ Membres</h5>
                        <h5 class="mb-3"><i class="fa fa-code text-primary me-3"></i>50K+ Développeurs C# & DotNet</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
    <h5 class="mb-3"><i class="bi bi-percent text-primary me-3"></i>9% Taux de participation</h5>
    <h5 class="mb-3"><i class="bi bi-github text-primary me-3"></i>10K+ stars sur Github</h5>
</div>

                </div>
                <a href="quote.html" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.6s">En savoir plus</a>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="~/landingpage/img/infinitydays_2023/DotNetCameroon-2.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
