<!-- Gallery Section Start -->
<section id="gallery" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Our Event Gallery</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-4 mb-4">
                <div class="gallery-box">
                    <div class="img-thumb">
                        <a href="assets/img/gallery/img-1.jpg" data-lightbox="gallery" data-title="Image 1">
                            <img class="img-fluid" src="~/landingpage/img/infinitydays_2023/_DSC5658.jpg alt="Image 1">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4 mb-4">
                <div class="gallery-box">
                    <div class="img-thumb">
                        <a href="~/landingpage/img/infinitydays_2023/_DSC5658.jpg" data-lightbox="gallery" data-title="Image 2">
                            <img class="img-fluid" src="~/landingpage/img/infinitydays_2023/_DSC5658.jpg" alt="Image 2">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4 mb-4">
                <div class="gallery-box">
                    <div class="img-thumb">
                        <a href="assets/img/gallery/img-3.jpg" data-lightbox="gallery" data-title="Image 3">
                            <img class="img-fluid" src="~/landingpage/img/infinitydays_2023/_DSC5663.jpg" alt="Image 3">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4 mb-4">
                <div class="gallery-box">
                    <div class="img-thumb">
                        <a href="assets/img/gallery/img-4.jpg" data-lightbox="gallery" data-title="Image 4">
                            <img class="img-fluid" src="~/landingpage/img/infinitydays_2023/_DSC5663.jpg" alt="Image 4">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4 mb-4">
                <div class="gallery-box">
                    <div class="img-thumb">
                        <a href="assets/img/gallery/img-5.jpg" data-lightbox="gallery" data-title="Image 5">
                            <img class="img-fluid" src="~/landingpage/img/infinitydays_2023/_DSC5663.jpg" alt="Image 5">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4 mb-4">
                <div class="gallery-box">
                    <div class="img-thumb">
                        <a href="assets/img/gallery/img-6.jpg" data-lightbox="gallery" data-title="Image 6">
                            <img class="img-fluid" src="~/landingpage/img/infinitydays_2023/_DSC5663.jpg" alt="Image 6">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-auto">
                <a href="" class="btn btn-primary">Plus...</a>
            </div>
        </div>
    </div>
</section>
<!-- Gallery Section End -->
