<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="w-100" src="~/landingpage/img/infinitydays_2023/_DSC5673.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
<h5 class="text-white text-uppercase mb-3 animated slideInDown">"L'élégance est pas une question de syntaxe, mais d'idées."<br><br><strong>Anders Hejlsberg</strong>, Créateur du langage C#</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">C# & .NET Cameroon</h1>
                    <a asp-area="" asp-page="/Contact" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Rejoindre la communauté</a>
                    <a asp-area="" asp-page="/Contact" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Visiter le Forum</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="w-100" src="~/landingpage/img/infinitydays_2023/_DSC5659.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
<h5 class="text-white text-uppercase mb-3 animated slideInDown">"L'élégance est pas une question de syntaxe, mais d'idées."<br><br><strong>Anders Hejlsberg</strong>, Créateur du langage C#</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">C# & .NET Cameroon</h1>
                    <a asp-area="" asp-page="/Contact" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Rejoindre la communauté</a>
                    <a asp-area="" asp-page="/Contact" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Visiter le Forum</a>
                </div>
            </div>
        </div>
          <div class="carousel-item">
            <img class="w-100" src="~/landingpage/img/infinitydays_2023/_DSC5613.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">"L'informatique est une discipline où les seuls aspects constants sont le changement et l'apprentissage."<br><br><strong>Scott Guthrie </strong>, Vice-Président exécutif de Microsoft</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">C# & .NET Cameroon</h1>
                    <a asp-area="" asp-page="/Contact" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Rejoindre la communauté</a>
                    <a asp-area="" asp-page="/Contact" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Visiter le Forum</a>
                </div>
            </div>
        </div>
         <div class="carousel-item">
            <img class="w-100" src="~/landingpage/img/infinitydays_2023/_DSC5658.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">"Le développement logiciel est un art, pas une science. Vous pouvez apprendre toutes les meilleures pratiques et tous les langages, mais cela ne fera pas de vous un grand développeur."<br><br><strong>Jon Skeet </strong>, développeur et contributeur C# renommé</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">C# & .NET Cameroon</h1>
                    <a asp-area="" asp-page="/Contact" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Rejoindre la communauté</a>
                    <a asp-area="" asp-page="/Contact" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Visiter le Forum</a>
                </div>
            </div>
        </div>
         <div class="carousel-item">
            <img class="w-100" src="~/landingpage/img/infinitydays_2023/_DSC5661.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">"Écrivez toujours votre code comme si la personne qui allait le maintenir était un maniaque psychopathe qui sait où vous habitez."<br><br><strong>Eric Lippertthrie </strong>, ancien membre de l'équipe de développement de C# chez Microsoft</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">C# & .NET Cameroon</h1>
                    <a asp-area="" asp-page="/Contact" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Rejoindre la communauté</a>
                    <a asp-area="" asp-page="/Contact" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Visiter le Forum</a>
                </div>
            </div>
        </div>
         <div class="carousel-item">
            <img class="w-100" src="~/landingpage/img/infinitydays_2023/_DSC5665.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">"Le langage C# vise à rendre le développement d'applications plus simple et plus agréable pour le développeur."<br><br><strong>Mads Torgersen</strong>, responsable du design de C# chez Microsoft</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">C# & .NET Cameroon</h1>
                    <a asp-area="" asp-page="/Contact" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Rejoindre la communauté</a>
                    <a asp-area="" asp-page="/Contact" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Visiter le Forum</a>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>