<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Nos Valeurs</h5>
            <h1 class="mb-0">Rejoignez Notre Communauté pour Booster vos Compétences</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="bi bi-people text-primary"></i>
                    </div>
                    <h4 class="mb-3">Collaboration</h4>
                    <p class="m-0">Partagez vos connaissances et apprenez des autres membres de la communauté.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="bi bi-award text-primary"></i>
                    </div>
                    <h4 class="mb-3">Expertise Locale</h4>
                    <p class="m-0">Profitez de l'expertise et des ressources disponibles localement.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="bi bi-compass text-primary"></i>
                    </div>
                    <h4 class="mb-3">Orientation et Support</h4>
                    <p class="m-0">Obtenez des conseils et un soutien pour développer vos compétences en développement.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12 text-center">
                <p>Les services sont gratuits pour les membres de la communauté.</p>
                <h2 class="mb-0">Contactez-nous pour plus d'informations :</h2>
                <h2 class="text-primary">+237 653953452</h2>
            </div>
        </div>
    </div>
</div>
