<!-- Team Section Start -->
<section id="team" class="section-padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Who's Speaking?</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="assets/img/team/team-01.jpg" alt="Team Member">
                        <div class="team-social">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">JONATHON DOE</a></h3>
                        <p>Product Designer, Tesla</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="assets/img/team/team-02.jpg" alt="Team Member">
                        <div class="team-social">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">Patric Green</a></h3>
                        <p>Front-end Developer, Dropbox</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="assets/img/team/team-03.jpg" alt="Team Member">
                        <div class="team-social">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">Paul Kowalsy</a></h3>
                        <p>Lead Designer, TNW</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <!-- Add two more speakers here -->
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="assets/img/team/team-04.jpg" alt="Team Member">
                        <div class="team-social">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">Emily Johnson</a></h3>
                        <p>UI/UX Designer, Google</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1s">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="assets/img/team/team-05.jpg" alt="Team Member">
                        <div class="team-social">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">Sarah Thompson</a></h3>
                        <p>Art Director, Adobe</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <!-- End of added speakers -->
        </div>
    </div>
</section>
